/* ----- Imports ----- */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

/* ----- Resets ----- */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

/* ----- Variables ----- */
:root {
  --primary: #fc4849;
  --light: #f2f2f2;
  --light-transparent: rgba(242, 242, 242, 0.9);
  --dark: #362a2a;
  --silver: #7e7e7e;
}

/* ----- General ----- */

html,
body {
  background-color: white;
  line-height: 1.6;
  color: var(--dark);
  min-height: 100%;
  font-size: 16px;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Rubik', sans-serif;
  text-transform: uppercase;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--dark);
}

a:hover {
  color: var(--primary);
}

button {
  font-size: 1rem;
  padding: 0.8rem 2.5rem;
  color: var(--light);
  background-color: var(--primary);
  border: 1px solid transparent;
  font-weight: 500;
}

button:hover {
  background: transparent;
  border-color: var(--primary);
  color: var(--primary);
}

/* Utilities */
.container {
  padding-left: 2rem;
  padding-right: 2rem;
}

section {
  color: var(--dark);
  padding-top: 2rem;
  padding-bottom: 5rem;
  text-align: center;
}

.section-subtitle {
  padding-bottom: 2rem;
}

.line {
  background-color: var(--primary);
  width: 4rem;
  height: 1px;
  margin: 1rem auto;
}

.info {
  background: var(--light);
  height: 10rem;
}

.bg-dark {
  background-color: var(--light);
}

/* ----- Navbar ----- */
nav {
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: var(--light-transparent);
  align-items: center;
  transition: all 0.4s ease;
  box-shadow: 0 1px 2rem rgba(0, 0, 0, 0.3);
}

.top,
.top * {
  background: transparent;
  color: var(--light);
  transition: backgroun 0.4s ease;
  box-shadow: none;
}

nav .logo a {
  display: flex;
  align-items: center;
}

nav #logo-img {
  background: url('img/logo.png') no-repeat center / cover;
  height: 2.5rem;
  width: 2.5rem;
  display: inline-block;
}

nav h1 {
  padding-left: 0.5rem;
  color: var(--dark);
  display: inline;
}

nav span {
  color: var(--primary) !important;
  padding-left: 0.5rem;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  padding: 0.5rem;
}

nav ul li a {
  padding: 0.5rem 0;
}

nav ul li a:hover {
  border-bottom: 1px solid var(--primary);
}

/* ----- Header ----- */
#header {
  background: url('img/hero.jpeg') no-repeat center / cover;
  position: relative;
  display: flex;
  align-items: center;
  height: 700px;
}

#header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.hero-content {
  position: relative;
  z-index: 5;
  color: var(--light);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.hero-main {
  text-align: center;
}

.hero-main p {
  margin: 2rem 0;
}

.hero-contact-sm,
.hero-contact {
  background: var(--light-transparent);
  color: var(--dark);
  padding: 1rem;
  text-align: center;
  width: 50%;
  margin: 0 auto 5rem;
  border: 1px solid var(--primary);
}

.hero-contact-sm p:hover,
.hero-contact p:hover {
  color: var(--primary);
  cursor: pointer;
}

.hero-contact {
  display: none;
}

/* ----- Services ----- */
.services-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.services-cards .card {
  padding: 1.5rem 0.5rem;
}

.services-cards img {
  height: 3.5rem;
  width: 3.5rem;
}

.services-cards h3 {
  padding: 0.5rem 0;
}

/* ----- About ----- */
.about-content {
  display: flex;
  flex-direction: column;
}

.about-text > * {
  padding-top: 1rem;
  text-align: left;
}

.about-img-sm,
.about-img-lg {
  background: url('img/mechanic.jpeg') no-repeat center / cover;
  height: 20rem;
  width: 100%;
}

.about-img-lg {
  display: none;
}

/* ----- Info: CALL TODAY ----- */
.info-call {
  background: url('img/bmw.jpeg') no-repeat center center / cover;
  height: 100%;
  width: 100%;
  position: relative;
}

.info-call:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(86, 37, 37, 0.8);
}

.info-call-text {
  color: var(--light);
  z-index: 1;
  position: relative;
  padding: 5rem 2rem;
  display: flex;
  flex-direction: column;
}

.info-call-text p {
  padding-top: 1rem;
}

.info-call-2 {
  padding-top: 1rem;
}

.info-call-2 span {
  text-transform: uppercase;
  font-weight: 500;
  padding-top: 0.5rem;
  display: block;
  letter-spacing: 1px;
}

/* ----- Reviews ----- */
#reviews a {
  display: none;
}

/* Btn wrappers */
.ButtonBase__ButtonContainer-sc-p43e7i-3 {
  border: 0 !important;
  box-shadow: 0 !important;
}

/* Btn */
.ButtonBase__Overlay-sc-p43e7i-4 {
  box-shadow: 0 !important;
  font-weight: 500 !important;
  font-size: 1rem !important;
  padding: 0.8rem 2.5rem !important;
  color: var(--light) !important;
  background-color: var(--primary) !important;
  border: 1px solid transparent !important;
  border-radius: 0 !important;
}

.ButtonBase__Overlay-sc-p43e7i-4:hover {
  background-color: var(--light) !important;
  transition: none !important;
  border-color: var(--primary) !important;
  color: var(--primary) !important;
}

/* ----- Info: MAKES ----- */
.info-makes {
  padding: 4rem;
  position: relative;
  overflow: hidden;
}

.info-makes .list-makes {
  display: flex;
  position: relative;
  animation-name: slider;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes slider {
  from {
    left: 0%;
  }
  to {
    left: -1100%;
  }
}

.info-makes .list-makes img {
  padding: 1.5rem;
  height: 4rem;
  width: 4rem;
}

.info-makes .list-makes img:hover {
  background-color: rgba(252, 72, 73, 0.1);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.info-makes::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.info-makes .list-makes {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* ----- Contact ----- */
#contact .contact-content {
  display: flex;
  flex-direction: column;
}

.contact-info {
  width: 100%;
}

.contact-info p {
  padding: 1rem;
}

.contact-map {
  width: 100%;
  height: 20rem;
}

/* ----- Footer ----- */
footer {
  background: var(--light);
  padding: 1rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

footer a {
  padding-left: 0.3rem;
}

/* --------------- Media Queries --------------- */
/* ----- MEDIUM Devices ----- */
@media only screen and (min-width: 768px) {
  .container {
    padding-left: 8%;
    padding-right: 8%;
  }
}

/* ----- LARGER Devices ----- */
@media only screen and (min-width: 992px) {
  /* General */
  .container {
    padding-left: 10%;
    padding-right: 10%;
  }

  /* Navbar */
  nav {
    flex-direction: row;
    justify-content: space-between;
  }

  /* Header */
  #header {
    height: 800px;
    background: url('img/hero.jpeg') fixed no-repeat center / cover;
  }

  .hero-content {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .hero-main {
    text-align: left;
  }

  .hero-contact-sm {
    display: none;
  }

  .hero-contact {
    display: block;
    margin: 0 0 0 1rem;
    width: 40%;
    padding: 2rem;
  }

  .hero-contact h4 {
    padding-top: 1rem;
  }

  /* Services */
  .services-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  /* About */
  .about-content {
    flex-direction: row;
  }

  .about-text {
    width: 70%;
  }

  .about-text > * {
    padding: 0 1rem 1rem 0;
  }

  .about-img-sm {
    display: none;
  }

  .about-img-lg {
    display: block;
    width: 46%;
    margin-left: auto;
  }

  /* Info Call */
  .info-call {
    background: url('img/bmw.jpeg') fixed no-repeat center center / cover;
  }

  .info-call-text {
    flex-direction: row;
  }

  .info-call-1 {
    width: 55%;
    padding: 1rem;
  }

  .info-call-1 p {
    color: var(--light) !important;
  }

  .info-call-2 {
    padding: 1rem;
    margin: auto 0;
  }

  /* Info: Makes */
  .info-makes .list-makes {
    animation-duration: 35s;
  }

  @keyframes slider {
    from {
      left: 0%;
    }
    to {
      left: -240%;
    }
  }

  /* Contact */
  #contact .contact-content {
    flex-direction: row;
  }

  /* Footer */
  footer {
    flex-direction: row;
    justify-content: space-between;
  }
}
